footer {
  font-family: 'Montserrat';

  .container {
    .footer-cards {
      display: flex;
      align-items: center;
      gap: 30px;
      padding-bottom: 50px;

      @media (max-width:800px) {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
      }

      ul {
        li {
          padding-bottom: 10px;

          a {
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 0.2px;
            line-height: 24px;
          }
        }

        li:nth-child(1) {
          font-weight: 700;
          color: rgba(255, 255, 255, 1);
          font-size: 16px;
          letter-spacing: 0.1px;
          padding-bottom: 20px;
          line-height: 24px;
        }
      }

      ul:nth-child(5) {
        li {
          color: rgba(255, 255, 255, 1);
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 700;
          font-size: 14px;
          letter-spacing: 0.2px;
          line-height: 24px;
        }
      }
    }
  }

  .sub-footer {
    background-color: rgba(255, 255, 255, 1);
    padding: 25px;

    .container {
      .sub-footer_container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          color: rgba(115, 115, 115, 1);
          font-weight: 700;
          font-size: 14px;
          letter-spacing: 0.2px;
          line-height: 24px;
        }

        nav {
          display: flex;
          align-items: center;
          gap: 20px;
        }
      }
    }
  }
}