.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  @media (max-width: 1050px) {
    flex-direction: column;
    gap: 20px;
  }

  .logo {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: clamp(15px, 2.29vw, 24px);
    line-height: 32px;
    letter-spacing: 0.1px;
    color: rgba(255, 255, 255, 1);
  }

  .links {
    display: flex;
    align-items: center;
    gap: 21px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 24px;
  }

  .log {
    button {
      font-family: 'Montserrat';
      font-size: 14px;
      letter-spacing: 0.2px;
      line-height: 22px;
      font-weight: 700;
      color: rgba(255, 255, 255, 1);

      img {
        padding-left: 15px;
      }
    }

    button:nth-child(2) {
      background-color: rgba(141, 92, 246, 1);
      border-radius: 5px;
      padding: 15px;
    }

    display: flex;
    align-items: center;
    gap: 45px;
  }
}